apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.haproxy.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.haproxy.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.haproxy.name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Values.haproxy.name }}
    spec:
      serviceAccountName: {{ .Values.roles.serviceAccount }}
      automountServiceAccountToken: true
      {{- if .Values.imagePullSecrets.name }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecrets.name }}
      {{- end }}
      containers:
        - name: {{ .Values.haproxy.name }}
          image: "{{ .Values.haproxyIngressImage }}"
          imagePullPolicy: "Always"
          args:
            - --configmap={{ .Values.namespace }}/syntasa-ingress-conf
            - --default-ssl-certificate={{ .Values.namespace }}/sma-certs
          ports:
            {{- range .Values.haproxy.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
            {{- end }}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.haproxy.service.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.haproxy.name }}
spec:
  selector:
    app.kubernetes.io/name: {{ .Values.haproxy.name }}
  ports:
    - port: {{ .Values.haproxy.service.port }}
      targetPort: {{ .Values.haproxy.service.targetPort }}
  type: {{ .Values.haproxy.service.type }}
  {{- if .Values.haproxy.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.haproxy.service.loadBalancerIP }}
  {{- end }}
  {{- if .Values.haproxy.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
  {{- range $cidr := splitList "," .Values.haproxy.service.loadBalancerSourceRanges }}
    - {{ $cidr | quote }}
  {{- end }}
  {{- end }}
